{% extends 'base_connected.html.twig' %}

{% block body %}
    <form method="post" action="{{ path('creer_partie') }}">
        <div>
            Choisissez l'adversaire :
            <select name="adversaire">
                <option value=""> Choisir</option>
                {% for joueur in joueurs %}
                    <option value="{{ joueur.id }}">{{ joueur.pseudo }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Créer la partie">
        </div>
    </form>
{% endblock %}