.test{
	height: 100vh;
	width: 100%;
}
.plateau{
	height: 100%;
	width: 100%;
	position: relative;
}
.actions_adverses{
	display: flex;
	height: 20%;
	width: 10.5vw;
	position: absolute;
	top: 5%;
	z-index: 100;
	left: 3%;
	flex-wrap: wrap;
}
.actions_adverses_top,.actions_adverses_bot{
	display: flex;
	height: 50%;
	width: 100%;
}
.actions_joueur{
	display: flex;
	position: absolute;
	top: 5%;
	left: 21%;
	height: 27%;
	z-index: 100;
	width: 48%;
}
.act{
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
}
.act_left{
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.act_right{
	width: 30%;
	height: 100%;
}
.valid{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.valid button,input{
	height: 100%;
	border-radius: 8px;
}
.emplacement{
	height: 90%;
	width: 27%;
	border:dashed 2px white;
}
#empl4_3 .hand_selected:nth-child(2){
	display: none;
}
.action4 .emplacement {
    height: 76%;
    width: 21%;
    border: dashed 2px white;
}
.deck{
	display: flex;
	position: absolute;
	height: 22%;
	width: 9%;
	top: 39%;
	left: 4%;
}
.deck:hover{
	animation: anim 1s infinite;
	cursor: pointer;
}
.carte{
	height: 100%;
	position: absolute;
	width: 100%;
	left: -153%;
}

.cartes_maitres{
	display: flex;
	position: absolute;
	height: 18%;
	width: 58.5%;
	top: 41%;
	left: 16%;
	justify-content: space-around;
}
.maitres{
	height: 100%;
	width: 13%;
	position: relative;
	transition: 0.55s;
	transform-style: preserve-3d;
	perspective: 1200px;
}
#send{
	visibility: hidden;
	position: absolute;
}
.actions{
	display: flex;
	height: 20%;
	width: 10.5vw;
	position: absolute;
	top: 74%;
	z-index: 100;
	left: 3%;
	flex-wrap: wrap;
}
.actions_top,.actions_bot{
	display: flex;
	height: 50%;
	width: 100%;
}
.main_user{
	display: flex;
	height: 20%;
	width: 10%;
}
.main_user{
	display: flex;
    height: 16%;
    width: 50%;
    position: absolute;
    top: 76%;
    left: 20%;
    justify-content: center;
}
.hand{
	height: 100%;
	width: 13%;
	margin: 0.8%;
	transition: 0.55s;
}
.hand:hover{
	transition-delay: 1s;
	transition:0.8s; 
	transform: scale(2); 
	z-index: 100;
	cursor:pointer;
}
.hand_selected{
	height: 90%;
}
.actions img:hover,.actions_adverses img:hover{
	transition: 0.55s;
	transform: scale(1.5);
	cursor:pointer;
}

.actions img,.actions_adverses img{
	transition: 0.55s;
}
.couverture{
	position: absolute;
	height: 94%;
	transform: translateZ(4px);
	top: 3%;
	left: 4.5%;
	width: 88%;
}
.face_vosible{
	position: absolute;
	transform: translateZ(3px);
}
.baguette{
	position: absolute;
    right: 0%;
    width: 23%;
    top: 10%;
}
.contain_chat{
	position: absolute;
	right: 0%;
	width: 22%;
	height: 99.5%;
	overflow: hidden;
	z-index: 100;
}
.contain_chat_in{
	height: 100%;
	width: 100%;
	flex-direction: row;
	display: flex;
	position: absolute;
	right: -85%;
	transition: 0.5s;
	color:white;
}
.open_chat{
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
}
.act_left .main:hover{
	transform: scale(0);
}
.is_open{
	right: 0%;
	
}
.button_open_chat{
	height: 20%;
	width: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.chat_right{
	width: 85%;
	height:100%;
	background-color: black;
}
.chat{
	height: 90%;
	background-color: black;
	width: 100%;
	overflow: auto;
}
.round{
	height: 14px;
    width: 14px;
    background-color: red;
    border-radius: 100%;
    margin: 2px;
    margin-right: 7px;
}
.publish{
	width: 100%;
	display: flex;
	padding-top: 2%;
    padding-bottom: 2%;
}
.publish_me{
	width: 100%;
	display: flex;
	padding-top: 2%;
    padding-bottom: 2%;
}
.publish_me .round{
	height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 100%;
    margin: 2px;
    margin-right: 7px;
}
.chat h1{
	margin:0px;
	text-align: center;
	margin-bottom: 15%;
}.chat p{
	margin: 0px;
	display: flex;
	justify-content: flex-start;
}
.input{
	height: 10%;
	width: 100%;
}
.input form{
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
.chat form input{
	visibility: hidden;
}
.chat form textarea{
	height: 66%;
    width: 89%;
    background-color: black;
    border: 2px solid white;
    color: white;
}
.input textarea{
	    width: 88%;
    height: 80%;
}

@keyframes anim{
	0%{
		transform: rotate(0deg);
	}

	25%{
		transform: rotate(2deg);
	}

	75%{
		transform: rotate(-2deg);
	}

	100%{
		transform: rotate(0deg);
	}

}
@media screen and (max-width: 900px){
	.open_chat{
		width: 6%;
	}
	.contain_chat{
		width: 80%;
	}
	.chat h1{
		margin-bottom: 3%;
	}
	.chat_right{
		width: 94%;
	}
	.contain_chat_in {
    	right: -94%;
	}
	.is_open {
    right: 0%;
}
}

.is_not_clickable{
	display: none;
}

