{% extends 'base.html.twig' %}
{% block title %}Nombre aléatoire{% endblock %}
{% block body %}

<h1>Génération de nombres aléatoires</h1>

<p>Voici un nombre aléatoire (entre 1 et 10): {{ number }}</p>

{% endblock %}