{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue sur le site Hanamikoji TEST</h1>
    <h3>Vous vous trouvez sur la page d'accueil du site</h3>
{% endblock %}