{% extends 'base_connected.html.twig' %}
{% block title %}Hanamikoji - Profil{% endblock %}
{% block body %}

<h1>Votre profil</h1>

<p>Bievenue sur votre profil, vous pourrez retrouver certaines informations vous concernant sur le jeu. et un chat général</p>

{% endblock %}